{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flash-messages" role="alert" aria-live="polite">
      {% for category, message in messages %}
      {% if category == 'success' %}
      <!--For success messages-->
        <div id="message" class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% else %}
      <!--For error messages-->
        <div id="message" class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      {% endfor %}
      </div>
      {% endif %}
    {% endwith %}