<!--Create flash alert style to handle passed messages from flask-flash
define category to set style, 'error' = red, 'success' = green-->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      {% if category == 'success' %}
      <!--For success messages-->
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% else %}
      <!--For error messages-->
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    {% endwith %}