<nav class="navbar navbar-expand-lg nav-bar-custom navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon colour-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link colour-white" id="home" href="/">My To Do's</a>
            <a class="nav-item nav-link colour-white" id="logOut" href="#">Log Out</a>
        </div>
    </div>
</nav>