{% extends "index.html" %}
{% block title %}My To Do's{% endblock %}
{% include "alerts.html" %}
{% block content %}
<div class="header">
    <br/>
    <h1 class="colour-white">My To Do's</h1>
    <div class="d-flex flex-row justify-content-center">
        <a href="/logout"><button class="btn btn-outline-secondary btn-danger colour-white" type="button" aria-label="Logout">Logout</button></a>
    </div>
    <div class="d-flex flex-row justify-content-center" id="note-block">
        <div class="col flex-shrink-1 d-none d-lg-block"></div>
        <div class="col flex-grow-1">
            <form method="POST" id="note-form">
                <div class="input-group mb-3">
                    <textarea type="text" class="form-control square-border" placeholder="Enter a note" aria-label="Note" aria-describedby="button-addon2" id="note" name="note"></textarea>
                    <button class="btn btn-outline-secondary square-border btn-success colour-white" type="submit" id="button-addon2">Add Note</button>
                  </div>
            </form>
        </div>
        <div class="col flex-shrink-1 d-none d-lg-block"></div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center" id="notes-list" aria-live="polite">
    <div class="col flex-shrink-1 d-none d-lg-block"></div>
    <div class="col flex-grow-1 list">
        <ul class="list-group list-group-flush d-flex flex-column" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item list-item">{% if note.done %}<strike>{% endif %}{{note.data}}{% if note.done %}</strike>{% endif %}
                <button type="button" class="close list-item-btn" onClick="deleteNote({{ note.id }})" aria-label="Delete Note">
                    <i class="fa fa-trash note-delete" aria-hidden="true"></i>
                </button>
                {% if not note.done %}
                <a href="/edit-note/{{note.id}}"><button type="button" class="close list-item-btn mx-3" aria-label="Complete Note">
                    <i class="fa fa-check note-complete" aria-hidden="true"></i>
                </button></a>
                {% else %}
                <a href="/edit-note/{{note.id}}"><button type="button" class="close list-item-btn mx-3" aria-label="Complete Note">
                    <i class="fa fa-close note-uncomplete mx-1" aria-hidden="true"></i>
                </button></a>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col flex-shrink-1 d-none d-lg-block"></div>
</div>
<br/>
{% endblock %}