{% extends "index.html" %}
{% block title %}My To Do's{% endblock %}
{% include "alerts.html" %}
{% block content %}
<div class="header">
    <br/>
    <h1 align="center">My To Do's</h1>
    <br/>
    <div class="d-flex flex-row" id="note-block">
        <div class="col"></div>
        <div class="col-6">
            <form method="POST" id="note-form">
                <div class="input-group mb-3">
                    <textarea type="text" class="form-control square-border" placeholder="Enter a note" aria-label="Note" aria-describedby="button-addon2" id="note" name="note"></textarea>
                    <button class="btn btn-outline-secondary square-border btn-success colour-white" type="submit" id="button-addon2">Add Note</button>
                  </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="d-flex flex-row" id="notes-list">
    <div class="col"></div>
    <div class="col-6 list">
        <ul class="list-group list-group-flush d-flex flex-column" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item list-item">{{note.data}}
                <button type="button" class="close list-item-btn" onClick="deleteNote({{ note.id }})">
                    <i class="fa fa-trash note-delete" aria-hidden="true"></i>
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col"></div>
</div>
<br/>
{% endblock %}